body{
    margin: 0;
    padding: 0;
}
.center-container{
    display: flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #abccf7;
    height:100vh;
    width:100vw;
}

.center-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin: 2vh;
}

.image-container{
    display: flex;
    padding: 5vh;
    margin: 2vw;
    align-items: center;
    min-width: 0;
    justify-content: space-between;
}
.image-container img{
    display: block;
    object-fit: contain;
    height: auto;
    width: auto;
    max-width: 40%; 
    flex: 1 1 40%;      
    min-width: 0;  
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
}

.panel{
    background-color: #404472;
    border-radius: 15px;
}