<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8"/>
    <title>Amptier Admin Dashboard Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        window.onload = () =>{
            //Getting all the buttons by ID
            const viewAllButton = document.getElementById('view_all');
            const viewFloodButton = document.getElementById('view_flood');
            const viewWaterButton = document.getElementById('view_water');
            const viewFireButton = document.getElementById('view_fire');
            const viewSewerButton = document.getElementById('view_sewer');
            const viewOtherButton = document.getElementById('view_other');
            const closeAdminComplaintsButton = document.getElementById('close_admin_complaints_button');

            //Getting the top text element to change based on button clicks
            const adminCategoryText = document.getElementById('admin_category');

            //Getting the Module to show/hide
            const adminCategoryViewer = document.getElementById('Admin_Category_Viewer');

            //Getting all the reports
            const allReports = document.querySelectorAll('.report-card');
            //Methods for showing/hiding module
            const showReportModule = () => {
                adminCategoryViewer.hidden = false;
            }
            const hideReportModule = () => {
                adminCategoryViewer.hidden = true;
            }

            //Function to show all reports
            const showAllReports = () => {
                adminCategoryText.textContent = "All Reports";
                allReports.forEach((report) =>{
                    report.hidden = false;
                });
                showReportModule();
            }
            const hideAllReports = () => {
                allReports.forEach((report) =>{
                    report.hidden = true;
                });
            }

            const showOneCategory = (categoryName) => {
                adminCategoryText.textContent = categoryName + " Reports";
                hideAllReports();
                const reports = document.querySelectorAll(`[data-category="${categoryName}"]`);
                reports.forEach((report) =>{
                    report.hidden = false;
                });
                showReportModule();
            }

            //Event listeners for buttons
            viewAllButton.addEventListener('click', showAllReports);
            viewFloodButton.addEventListener('click', () => showOneCategory("Flooding"));
            viewWaterButton.addEventListener('click', () => showOneCategory("Water"));
            viewFireButton.addEventListener('click', () => showOneCategory("Fire"));
            viewSewerButton.addEventListener('click', () => showOneCategory("Sewer"));
            viewOtherButton.addEventListener('click', () => showOneCategory("Other"));
            closeAdminComplaintsButton.addEventListener('click', hideReportModule);
        }

    </script>
</head>
<body class= "min-h-screen bg-[#abccf7]">
    <div class = "justify-between flex bg-blue-900 h-[16vh] w-screen">
        <div class = "w-[33vw] flex flex-col px-2 justify-between">
            <!--Display time and weather for Roseville/Sacramento-->
            <div>
                <div class = "text-white text-left text-2xl">Weather in {{ weather["city"] }}</div>
                <div class = "text-white text-left text-xl">{{ weather["temperature"] }}°F, {{ weather["description"]}}</div>
                <div class = "text-white text-left text-xl">Current Time: {{ current_time }}</div>
            </div>
        </div>
        <div class = "text-center w-[33vw] py-[4vh]">
            <h1 class = "text-white text-3xl font-bold">{{ user_name }}'s Admin Dashboard</h1>
        </div>
    <!--Header displaying Rexus Group and Amptier-->
        <div class = "flex object-contain flex-col w-[33vw] justify-end items-end">
            <img class = "sm:h-[8vh] object-contain" src="{{ url_for('static', filename='amptier_logo-removebg-preview.png') }}" alt="Amptier Logo"/>
            <img class = "sm:h-[8vh] object-contain" src="{{ url_for('static', filename='rexus_logo.png')}}" alt="Rexus Logo"/>
        </div>
    </div>
    <!--Button to add new users-->
    <div class = "flex justify-end m-4">
        <button type = "button" class = "px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700">Add New User</button>

        <div id="addUserModule" class = "fixed inset-0 justify-center justify-items-center items-center bg-black bg-opacity-50 z-0" hidden>
            <div class = "bg-white rounded-lg object-center flex flex-col w-[50vw] h-[75vh]sm:h-[36vh]">
                <h2 class="text-center text-2xl text-blue-900 mt-4">Adding a user</h2>
                <form id="addUserForm" class="flex flex-col items-start gap-3 px-6 py-5 mt-4" action="{{url_for('submit_user')}}" method="post">
                    <input name="username" placeholder="Username" required
                           class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400" />
                    <input type="password" name="password" placeholder="Password" required
                           class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400" />
                    <select name="Admin" class ="border border-black rounded-lg w-full" required >
                        <option value="" disabled selected>Select Role</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                    <div class = "justify-evenly px-4 w-full flex">
                        <button id = "cancel_button" class = "px-2 py-1 bg-red-600 text-white rounded-lg hover:bg-red-700 text-center" type = "button">Cancel</button>
                        <button id ="submit_button" class = "px-2 py-1 bg-green-600 text-white rounded-lg hover:bg-green-700 text-center" type = "submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Buttons to view all reports, or reports based on categories-->
    <div class ="flex justify-evenly w-screen">
        <button id = "view_all" type = "button" class = "m-4 px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700">View All Reports</button>
        <button id = "view_flood" type = "button" class = "m-4 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">View Flood Reports</button>
        <button id = "view_water" type = "button" class = "m-4 px-4 py-2 bg-gray-600 text-white rounded-md hover:bg-gray-700">View Water Reports</button>
        <button id = "view_fire" type = "button" class = "m-4 px-4 py-2 bg-yellow-600 text-white rounded-md hover:bg-yellow-700">View Fire Reports</button>
        <button id = "view_sewer" type = "button" class = "m-4 px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700">View Sewer Reports</button>
        <button id = "view_other" type = "button" class = "m-4 px-4 py-2 bg-purple-600 text-white rounded-md hover:bg-purple-700">View Other Reports</button>
        <div id = "Admin_Category_Viewer" class = "fixed inset-0 justify-center justify-items-center items-center bg-black bg-opacity-50 z-0" hidden>
        <div class = "bg-white rounded-lg object-center flex flex-col w-[50vw] max-h-[75vh]">
            <h2 id = "admin_category" class="text-center text-2xl text-blue-900 mt-4">Categories</h2>
            <div class="w-full max-w-3xl space-y-4 overflow-y-auto h-[60vh] px-4">
                    {% for r in reports %}
                <div data-category="{{ r['category'] }}" class="report-card bg-white p-4 rounded-md shadow-md border border-black">
                    <h3 class="text-lg font-semibold text-blue-900">{{ r['category'] }} - Severity {{ r['severity'] }}</h3>
                    <p class="text-gray-700">Reported {{ r['t_diff'] }}</p>
                    <p class="text-gray-600 mt-2">{{ r['descr'] }}</p>
                    <p class="text-gray-600 mt-1">Location: {{ r['locat'] }}</p>
                    <p class="text-gray-600 mt-1">Status: {{ r['resolved'] }}</p>
                    <p class="text-gray-600 mt-1">Admin Notes: {{ r['admin_notes'] }}</p>
                    {%if r['images'] %}
                    <div class="mt-2">
                        <h4 class="font-semibold text-blue-900">Images:</h4>
                        <div class="flex space-x-2 mt-1">
                            {% for img in r['images'] %}
                                <img src="data:{{ img['mime_type'] }};base64,{{ img['b64'] }}" alt="Report Image" class="w-[20%] h-auto object-contain rounded-md"/>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class = "flex justify-center mb-4">
                    <button id = "close_admin_complaints_button" class = "px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 text-center" type = "button">Close</button>
            </div>
        </div>
    </div>
    </div>

    <!--Tables displaying statistics, categories of reports, and month reports-->


    <!--Map using Leaflet API to display where everything is located-->
</body>