<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8"/>
    <title>Amptier EMS Home</title>
    <link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class = "center-container">
        <div class="panel" style="width: 45vw; height: 60vh;">
            <!--Image and welcome-->
            <div class = "image-container">
                <img src="{{ url_for('static', filename='amptier_logo-removebg-preview.png') }}" alt="Amptier Logo"/>
                <img src="{{ url_for('static', filename='rexus_logo.png')}}" alt="Rexus Logo"/>
            </div>
            <h1>RexusOps360</h1>
            <p>Enterprise Emergency & Operations Management</p>
            <!--Form inputs to input username and password-->
            <form action="/login" method="post" class="login-form">
                <input type="text" name="username" placeholder="Username" required/>
                <input type="password" name="password" placeholder="Password" required/>
            </form>
            <!--Buttons to choose if signing in as a user or admin-->
            <div class = "button-container">
                <button type="submit" form="login-form" value="Admin Login" class="login-button">Admin Login</button>
                <button type="submit" form="login-form" value="User Login" class="login-button">User Login</button>
            </div>

            <!--Optional button to report anonymously-->

            <p>Don't have a user account? Report <a href="/report">anonymously</a></p>
        </div>
    </div>
</body>
</html>